{% extends "core/base.html" %}

{% block title %}Reg{% endblock title %}

{% block body %}
<body class="h-screen bg-fixed bg-[url('/static/image/karsten-winegeart-eXFG9dM_1f8-unsplash.jpg')] bg-no-repeat bg-center bg-auto"  >
    
    <div class="border-solid max-w-sm mx-auto border-green-600 border-4 rounded-xl p-5 backdrop-opacity-15 bg-black/50 grid justify-items-stretch m-auto overflow-hidden" id="form">
      <h1 class="mt-5 text-4xl font-bold text-white">Staff Signup</h1><hr class="h-5 "><br>
        <form class="max-w-sm mx-auto "method="post" action="{% url "staff_registration_page" %}">
           {% csrf_token %}
           {{form}}
            <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center 0  ">Submit</button>
          </form>   
          <p class="text-white">Already have an account ?  <a href="{% url "staff_login_page" %}" class="text-green-300 ">Login</a></p>
  
    </div>
    </body>
{% endblock body %}