{% load static %}
<aside id="sidebar" class="sidebar">
   
    <ul class="sidebar-nav" id="sidebar-nav">
        <i class="bi bi-list toggle-sidebar-btn" style="color: white;"></i>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url "student_home_page" %}">
              <i class="bi bi-grid"></i>
              <span>Search</span>
              
            </a>
          </li><!-- End Dashboard Nav -->
          <li class="nav-item"> 
           <a class="nav-link collapsed" href="{% url "student_material_view_page" %}">
             <i class="bi bi-grid"></i>
             <span>Staff Uploads</span>
             
           </a>
         </li><!-- End Dashboard Nav -->
      <li class="nav-item"> 
        <a class="nav-link collapsed" href="{% url "student_dashboard_page" %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
          
        </a>
      </li><!-- End Dashboard Nav -->
  
      <li class="nav-item">
         <a class="nav-link collapsed" href="{% url "logout" %}">
           <i class="fa-arrow-left"></i>
           <span>Logout</span>
         </a>
       </li><!-- End Library inventory Nav -->
    </ul>

  </aside><!-- End Sidebar -->